# Mill specific
out/

# Metals / Scala IDE
.metals/
.bloop/
.ammonite/
project/metals.sbt
target
.zed/

# OS specific
.DS_Store
Thumbs.db
mill.*

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
